<header>
    <img src="{{ asset('images/logo.svg') }}" alt="Bucket List">
    <nav>
        <ul>
            <li>
                <a href="{{ path('homepage') }}">Accueil</a>
            </li>
            <li>
                <a href="{{ path('serie_index') }}">Séries</a>
            </li>

            {% if app.user %}
                {% if is_granted('ROLE_USER') %}
                    <li>
                        <a href="{{ path('serie_new') }}">Ajouter série</a>
                    </li>
                    <li>
                        <a href="{{ path('season_new') }}">Ajouter saison</a>
                    </li>
                {% endif %}
                <li>
                    <a href="{{ path('app_logout') }}">Déconnexion</a>
                </li>
            {% else %}
                <li>
                    <a href="{{ path('app_login') }}">Connexion</a>
                </li>
                <li>
                    <a href="{{ path('app_register') }}">Créer un compte</a>
                </li>
            {% endif %}

        </ul>
    </nav>
</header>