{% extends 'base.html.twig' %}
{% block title %}
    Page Test
{% endblock %}
{% block header %}
    Avant
    {{ parent() }}
{% endblock %}

{% block body %}
    <h1>Test</h1>

    {# Création variable #}
    {% set firstName = "Elouan" %}
    <h2>Bonjour {{ firstName }}</h2>
    {{ dump(colours) }}

    <p>Il y a {{ colours|length }} couleurs.</p>
    <p>{{ colours|join(',') }}</p>

    <ul>
        {% for colour in colours %}
            <li>{{ colour }}
                {% if not loop.last %}
                    <hr>
                {% endif %}
            </li>

        {% endfor %}
    </ul>
    <p>{{ today|date('d/m/Y H:i') }}</p>

{% endblock %}

