{% extends 'base.html.twig' %}

{% block title %}{{ serie.name }} - {{ parent() }}{% endblock %}

{% block body %}
    <h1>{{ serie.name }}</h1>
    <p>{{ serie.vote }}</p>
    <p>{{ serie.overview }}</p>

{% endblock %}


