{% extends 'base.html.twig' %}

{% block title %}{{ serie.name }} - {{ parent() }}{% endblock %}

{% block body %}
    <h1>{{ serie.name }}</h1>
    <p>{{ serie.vote }}</p>
    <p>{{ serie.overview }}</p>

    <section>
        {% for season in serie.seasons %}
            <article>
                <img src="{{ asset('img/posters/seasons/' ~ season.poster) }}" alt="{{ season.number }}">
                <div>
                    <h4>Saison {{ season.number }}</h4>
                    {% if season.overview %}
                        <p>{{ season.overview }}</p>
                    {% endif %}
                </div>
            </article>
        {% endfor %}
    </section>

{% endblock %}


